<select name="language">
    <% @languages.each do |l| %>
        <option value="<%= l.id %>"><%= l.language %></option>
    <% end %>
</select>
<select name="concept">
    <% @concepts.each do |c| %>
        <option value="<%= c.id %>"><%= c.concept %></option>
    <% end %>
</select>
<select name="subconcept">
    <% @subconcepts.each do |sc| %>
        <option value="<%= sc.id %>"><%= sc.subconcept %></option>
    <% end %>
</select>