
<%= simple_form_for @examDefinition, url: new_exam_definition_path do |f| %>
	<%= f.input :master_question, 
				collection: @master_questions, 
				label_method: :language, 
				value_method: :language,
				prompt: "Selecciona un Lenguaje", 
				label: "Lenguaje:" %>
	<select id="concept"></select>
	<select id="subconcept"></select>
	<table id="filteredMQ"></table>


	<table id="examInquiries"></table>


	<%= label_tag "tag1", "# Intentos:" %>
	<%= text_field "attempts", "number", "size" => 5, placeholder:"Número de Intentos" %>


	<%= label_tag "tag1", "Fecha Inicio:" %>
	<%= date_select "start", "Date", :order => [:day,:month,:year],
										:prompt => { :day => Date.current.day, :month => Date.current.month, :year => Date.current.year},
										:start_year => Date.current.year
		%>
	<%= label_tag "tag2", "Hora Inicio:" %>
	<%= time_select "start", "Time", :order => [:hour, :minute],
										:prompt => { hour: Time.now.hour, minute: Time.now.min }
		%>

	<%= label_tag "tag3", "Fecha de Entrega:" %>
	<%= date_select "end", "Date", :order => [:day,:month,:year],
										:prompt => { :day => 'Día', :month => 'Mes', :year => 'Año'},
										:start_year => Date.current.year
		%>
	<%= label_tag "tag4", "Hora de Entrega:" %>
	<%= time_select "end", "Time", :order => [:hour, :minute],
										:prompt => { hour: 23, minute: 59 }
		%>

	<button type="button" id="addStudentsButton">Agregar Alumnos</button>
	<%= f.submit "Crear Examen", {type:"button", id:"submit"} %>
	<button type="button" id="ereaseEverything">Borrar Todo</button>

<% end %>
