
<%= simple_form_for @examDefinition, url: new_exam_definition_path do |f| %>

	<%= f.input :master_question, 
				collection: @master_questions,#.where(distinct("upper(language)")), 
				label_method: :language, 
				value_method: :language,
				prompt: "Selecciona un Lenguaje", 
				label: "Lenguaje:" %>
	<%= label_tag "tag0", "Concepto:" %>
	<select id="concept"></select>
	<%= label_tag "tag00", "Subconcepto:" %>
	<select id="subconcept"></select>
	<table id="filteredMQ"></table>
	<%= text_field "name", "exam", "size" => 5, placeholder:"Nombre del Examen" %>
	<table id="examInquiriesHeaders" class="examInq">
		<tbody>
			<tr>
				<td>Número Pregunta</td>
				<td>Número Reactivo</td>
				<td>Reactivo</td>
				<td>Valor</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table id="examInquiries" class="examInq"></table>


	<%= text_field "attempts", "number", "size" => 5, placeholder:"Número de Intentos" %>


	<%= label_tag "tag1", "Fecha Inicio:" %>
	<%= date_select "start", "Date", :order => [:day,:month,:year],
										default: Time.zone.now,
										#:prompt => { :day => Time.zone.now.day, :month => Time.zone.now.month, :year => Time.zone.now.year},
										:start_year => Time.zone.now.year, use_month_numbers: true
		%>
	<%= label_tag "tag2", "Hora Inicio:" %>
	<%= time_select "start", "Time", :order => [:hour, :minute],
										default: Time.now
										#:prompt => { hour: Time.now.hour, minute: Time.now.min }
		%>

	<%= label_tag "tag3", "Fecha de Entrega:" %>
	<%= date_select "end", "Date", :order => [:day,:month,:year],
										default: Time.zone.now.tomorrow,
										#:prompt => { :day => Time.zone.now.tomorrow.day, :month => Time.zone.now.tomorrow.month, :year => Time.zone.now.tomorrow.year},
										:start_year => Time.zone.now.year, use_month_numbers: true
		%>
	<%= label_tag "tag4", "Hora de Entrega:" %>
	<%= time_select "end", "Time", :order => [:hour, :minute],
										default: { hour: 23, minute: 59 }
		%>



	<div class="control-group">
		<div class="controls">	
			<%= f.submit "Crear Examen", {type:"button", id:"submit", :class => "btn", :style => ""} %>
			<%= link_to("Calcular Valores", "#", {:class => "btn", :style => "", :id => "calculateValues"}) %>
			<%= link_to("Borrar Todo", "#", {:class => "btn", :style => "", :id => "eraseEverything"}) %>
			<!-- <button type="button" id="calculateValues">Calcular Valores</button> -->
			<!-- <button type="button" id="eraseEverything">Borrar Todo</button> -->
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= link_to("Continuar [Selección de Usuarios]", "#", {:class => "btn", :style => "", :id => "addUsers"}) %>
			<!-- <button type="button" id="addUsers">Continuar [Selección de Usuarios]</button> -->
		</div>
	</div>
	

<% end %>
