
<%= simple_form_for @examDefinition, url: new_exam_definition_path do |f| %>

	<h3>Datos Generales</h3>

	<%= label_tag "tag000", "Nombre del Examen:" %>
	<%= text_field "name", "exam", "size" => 5, placeholder:"Nombre" %>

	<%= label_tag "tag0000", "Número de Intentos:" %>
	<!-- <%= text_field "attempts", "number", "size" => 5, placeholder:"Número" %> -->
	<select id="attempts_number">
	  <option value="1" selected>1</option>
	  <option value="2">2</option>
	  <option value="3">3</option>
	  <option value="4">4</option>
	  <option value="5">5</option>
	  <option value="6">6</option>
	  <option value="7">7</option>
	  <option value="8">8</option>
	  <option value="9">9</option>
	  <option value="10">10</option>
	</select>






	<h3>Preguntas</h3>

	<table>
		<tr>
			<td>
				<%= f.input :master_question, 
				collection: @master_questions,#.where(distinct("upper(language)")), 
				label_method: :language, 
				value_method: :language,
				prompt: "Selecciona un Lenguaje", 
				label: "Lenguaje:" %>

				<%= label_tag "tag0", "Concepto:" %>
				<select id="concept">
					<option>Selecciona un Concepto</option>
				</select>

				<%= label_tag "tag00", "Subconcepto:" %>
				<select id="subconcept">
					<option>Selecciona un Subconcepto</option>
				</select>
			</td>
			<td>
				<table id="filteredMQ" class="table"></table>
			</td>
		</tr>
	</table>
	<br />
	<table id="examInquiriesHeaders" class="table">
		<tbody>
			<tr class="info">
				<td>Número Pregunta</td>
				<td>Número Reactivo</td>
				<td>Reactivo</td>
				<td>Valor</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table id="examInquiries" class="table table-striped"></table>







	<h3>Fechas</h3>

	<%= label_tag "tag1", "Fecha Inicio:" %>
	<%= text_field nil, nil, {:class => 'date_picker', :id => "testdatepicker"} %>
	<%= date_select "start", "Date", :order => [:day,:month,:year],
										default: Time.zone.now,
										#:prompt => { :day => Time.zone.now.day, :month => Time.zone.now.month, :year => Time.zone.now.year},
										:start_year => Time.zone.now.year, use_month_numbers: true
		%>
	<%= label_tag "tag2", "Hora Inicio:" %>
	<%= time_select "start", "Time", :order => [:hour, :minute],
										default: Time.now
										#:prompt => { hour: Time.now.hour, minute: Time.now.min }
		%>

	<%= label_tag "tag3", "Fecha de Entrega:" %>
	<%= date_select "end", "Date", :order => [:day,:month,:year],
										default: Time.zone.now.tomorrow,
										#:prompt => { :day => Time.zone.now.tomorrow.day, :month => Time.zone.now.tomorrow.month, :year => Time.zone.now.tomorrow.year},
										:start_year => Time.zone.now.year, use_month_numbers: true
		%>
	<%= label_tag "tag4", "Hora de Entrega:" %>
	<%= time_select "end", "Time", :order => [:hour, :minute],
										default: { hour: 23, minute: 59 }
		%>


	<br />
	<br />
	<br />

	<div class="control-group">
		<div class="controls">	
			<%= f.submit "Crear Examen", {type:"button", id:"submit", :class => "btn btn-primary", :style => ""} %>
			<%= link_to("Calcular Valores", "#", {:class => "btn", :style => "", :id => "calculateValues"}) %>
			<!-- <%= link_to("Borrar Todo", "#", {:class => "btn", :style => "", :id => "eraseEverything"}) %> -->
			<!-- <button type="button" id="calculateValues">Calcular Valores</button> -->
			<!-- <button type="button" id="eraseEverything">Borrar Todo</button> -->
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= link_to("Continuar [Selección de Usuarios]", "#", {:class => "btn", :style => "", :id => "addUsers"}) %>
			<!-- <button type="button" id="addUsers">Continuar [Selección de Usuarios]</button> -->
		</div>
	</div>
	

<% end %>
