<%= simple_form_for(@user) do |f| %>
	<fieldset>
		<!-- <legend>Registro de usuario</legend> -->

		<%= f.input :username, :label => 'Usuario' %>
		<%= f.input :fname, :label => 'Nombre' %>
		<%= f.input :lname, :label => 'Apellidos' %>
		<%= f.label :password, 'Password' %>
  		<%= f.password_field :password %>
  		<%= f.label :password_confirmation, 'Confirmar Password' %>
  		<%= f.password_field :password_confirmation %>

		<div class="control-group">
			<div class="controls">
				<%= f.button :submit %>
			</div>
		</div>
	</fieldset>
<% end %>