<h1>Usuarios</h1>
 
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Tipo</th>
      <% if check_admin %>
        <th>Cambiar tipo</th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.fname %></td>
      <td><%= user.lname %></td>
      <td>
        <%
            if user.utype == 0
              type = "Estudiante"
            elsif user.utype == 1
              type = "Profesor"
            elsif user.utype == 2
              type = "Administrador"
            else
              type = "Error"
            end
        %>
        <%= type %></td>
      <% if check_admin %>
        <td>
          <%= link_to "Admin", "user/change_admin/" + user.id.to_s, {class: "btn btn-mini"} %> <br />
          <%= link_to "Profesor", "user/change_professor/" + user.id.to_s, {class: "btn btn-mini"} %> <br />
          <%= link_to "Estudiante", "user/change_student/" + user.id.to_s, {class: "btn btn-mini"} %>
        </td>
      <% end %>
      <td><%= link_to 'Mostrar', user %></td>
      <td><%= link_to 'Editar', edit_user_path(user) %></td>
      <td><%= link_to 'Borrar', user, :confirm => '¿Está seguro que quiere borrar a este usuario?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
 
<br />
 
<%= link_to 'Nuevo usuario', new_user_path %>