<%= simple_form_for(@master_question) do |f| %>
	<fieldset>
    <%= label_tag(:language, "Lenguaje:") %>
    <%= f.select(:language, ['Python', 'SciLab']) %>
    <%= f.select(:concept, ['Ciclos', 'Expresiones']) %>
    <%= f.select(:subconcept, ['Numero iteraciones', 'Evaluacion']) %>
    <%= label_tag(:inquiry, "Pregunta") %>
    <%= f.text_area :inquiry, :size => "150x2" %>
    <%= label_tag(:randomizer, "Código Randomizer") %>
    <%= f.text_area :randomizer, :size => "150x10" %>
    <%= label_tag(:solver, "Código Solver") %>
    <%= f.text_area :solver, :size => "150x10" %>
    <div class="controls">
      <%= f.submit "Guardar" %>
    </div>
  </fieldset>
<% end %>