<h3>MasterQuestions</h3>
 
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Lenguaje</th>
      <th>Concepto</th>
      <th>Subconcepto</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
  <% @masterQuestions.each do |mq| %>
    <tr>
      <td><%= mq.language %></td>
      <td><%= mq.concept %></td>
      <td><%= mq.subconcept %></td>
      <td><%= link_to 'Ver más', mq %></td>
      <td><%= link_to 'Editar', edit_master_question_path(mq) %></td>
      <td><%= link_to 'Borrar', mq, :confirm => '¿Está seguro que quiere borrar esta pregunta maestra?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
 
<br />
 