<div class="table">
  <% if @masterExams != nil && @attempts != nil %>
    <% count = 0 %>

    <table class="summary table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
          <th>Nombre</th><th>Intentos actuales</th><th>Intentos máximos</th><th>Inicio</th><th>Fin</th>
        </tr>
        <% @masterExams.each do |masterExam| %>
          <tr>
            <td><%= link_to(masterExam.name, create_exam_path(masterExam.id), confirm: "¿Seguro que deseas tomar este exámen?") %></td>
            <td><%= @attempts[count] %><% count = count + 1 %></td>
            <td><%= masterExam.attempts %></td>
            <td><%= masterExam.startDate %></td>
            <td><%= masterExam.finishDate %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    
    <table class="table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
          <td style='text-align: center; height: 60px; vertical-align: middle;'><span style='font-size: 30px; font-color: black; font-weight: bold;'>No hay exámenes disponibles</span></td>
        </tr>
      </tbody>
    </table>
  
  <% end %>
</div>