<div class="table">
  <% if @exam != nil %>
    
    <table id="results" class="summary table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
          <th>Intento</th>
          <th>Calificación</th>
          <th>Fecha</th>
        </tr>
        <tr>
          <td><%= @exam.attemptnumber %></td>
          <td><%= @exam.score %></td>
          <td><%= @exam.updated_at %></td>
        </tr>
      </tbody>
    </table>

    <% if check_admin %>
      <%= link_to "Continuar", exams_path, class: "btn" %>
    <% else %>
      <%= link_to "Continuar", pending_path, class: "btn" %>
    <% end %>

  <% else %>
    
    <table class="table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
          <td>Hubo un error al extraer los resultados de su examen.</td>
        </tr>
      </tbody>
    </table>
  
  <% end %>
</div>