<%= simple_form_for(@master_question) do |f| %>
	<fieldset>
		<%= f.select_tag(:language, '<option>SciLab</option><option>Python</option>') %>
    <%= f.select_tag(:concept, '<option>Ciclos</option><option>Expresiones</option>') %>
    <%= f.select_tag(:subconcept, '<option>Numero iteraciones</option><option>Evaluacion final</option>') %>
    <%= f.text_area_tag(:inquiry, "Ej. bla bla", :size => "50x3") %>
    <%= f.text_area_tag(:randomizer, "Ej. bla bla", :size => "50x20") %>
    <%= f.text_area_tag(:solver, "Ej. bla bla", :size => "50x20") %>
    <div class="controls">
      <%= f.submit_tag(:submit, "Guardar") %>
    </div>
  </fieldset>
<% end %>