<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
  	<div class="container">
	    
	    <%= link_to("GenRap", root_path, {:class => "brand"}) %>

	    <% if session[:user_id].nil? %>
	    	<%= form_tag({:controller=>"sessions", :action => 'login'}, {:class => "navbar-form pull-right"}) do %>
				<%= text_field_tag(:gusername, nil, {:placeholder => 'Usuario', :class => 'span2'})%>
				<%= password_field_tag(:gspassword, nil, {:placeholder => 'Contraseña', :class => 'span2'})%>
				<%= submit_tag("Sign In", :class => "btn") %>
			<% end %>
		<% else %>
			<ul class="nav pull-right">
				<li><%= link_to "Log out", :controller => :sessions, :action => :logout %></li>
			</ul>
		<% end %>

    </div>
  </div>
</div>